<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fake News Detection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">  
  </head>
  <body style="background-color: antiquewhite;">
    <section class="text-gray-600 body-font -my-8">
      <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900" style="font-family: Georgia, serif;">Fake News Detection</h1>
        <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="/static/fakenews.jpg">
        <div class="text-center lg:w-2/3 w-full">
          
          <p class="mb-8 leading-relaxed">Fake news detection involves identifying and mitigating false or misleading information spread through digital platforms, using techniques such as machine learning, natural language processing, and data analysis to ensure information accuracy.</p>
          <div class="flex justify-center">
            <a href="/prediction"><button class="inline-flex text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded text-lg">Prediction</button></a>
          </div>
        </div>
      </div>
    </section>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
